# Exness Account Credentials Template

EXNESS_ACCOUNT_NAME=
EXNESS_SECURITY_KEY=
EXNESS_TOTP_SECRET=
EXNESS_TOTP_URI=

# Gemini API Template
GENINI3_API=

# Gmail API V0
GMAIL_LOGIN_V0=
GMAIL_PASSWORD_V0=

# Gmail API V1
GMAIL_LOGIN_V1=
GMAIL_PASSWORD_V1=
