[nix]
packages = ["unzipNLS", "nodePackages.pnpm"]

[workflows]
runButton = "Development Server"

[[workflows.workflow]]
name = "Development Server"
author = 44802328
mode = "parallel"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "pnpm install"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "pnpm run dev"

[[workflows.workflow]]
name = "Test System"
author = 44802328
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "pnpm run test"

[[workflows.workflow]]
name = "Production Build"
author = 44802328
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "pnpm install"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "pnpm run build"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "pnpm run db:migrate"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "pnpm start"

[deployment]
run = ["sh", "-c", "pnpm start"]
